Restaurant Creation Page
<form action="/restaurants" method="POST">
  <p><input type="text" placeholder="Restaurant Name" name="restaurant[name]"></p>
  <p><input type="text" placeholder="Restaurant Rating" name="restaurant[rating]"></p>
  <p><input type="text" placeholder="Address" name="restaurant[address]"></p>
  <input type="submit" value="Submit">



</form>
